modules = ["nodejs-20", "web", "postgresql-16", "bun"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["supabase-cli", "nodejs"]

[deployment]
run = ["sh", "-c", "bun run preview"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "bun run build"]

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[objectStorage]
defaultBucketID = "replit-objstore-852a1cd5-5447-4cfc-b160-424e3a606d77"

[workflows]
runButton = "Run Development Server"

[[workflows.workflow]]
name = "Run Development Server"
author = 39001524
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev"
